<div class="flex h-screen bg-gray-100">
    <!-- Sidebar -->
    <div [ngClass]="{'hidden md:flex': !menuOpen, 'flex': menuOpen}" 
         class="flex flex-col w-64 bg-gray-800 fixed md:relative inset-y-0 left-0 z-50">
        <div class="flex items-center justify-between h-16 bg-gray-100 px-4">
            <!-- Logo on Left -->
            <img class="w-auto h-8" src="images/logo.svg" alt="logo">
            <!-- Mobile Close Button -->
            <button (click)="toggleMenu()" class="md:hidden text-gray-700 focus:outline-none">
                <i class="pi pi-times text-xl"></i> <!-- Close (X) icon -->
            </button>
        </div>
        <div class="flex flex-col flex-1 overflow-y-auto">
            <nav class="flex-1 px-2 py-4 bg-white">
                <a routerLink="/dashboard/home" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100 gap-4">
                    <i class="pi pi-bars"></i> Home
                </a>
                <a routerLink="/dashboard/patientForm" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-100 gap-4">
                    <i class="pi pi-user-plus"></i> Create Patients
                </a>
                <a routerLink="/dashboard/viewPatients" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-100 gap-4">
                    <i class="pi pi-eye"></i> View Patients
                </a>
                <!-- <a routerLink="/register" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-100 gap-4">
                    <i class="pi pi-user-plus"></i> New User
                </a> -->
            </nav>
        </div>
    </div>

    <!-- Main Content -->
    <div class="flex flex-col flex-1 overflow-y-auto">
        <!-- Header (Fixed) -->
        <div class="flex items-center justify-between h-16 bg-white border-b border-gray-200 px-4 fixed top-0 left-0 w-full z-50">
            <div class="flex items-center">
                <!-- Sidebar Toggle for Mobile -->
                <button (click)="toggleMenu()" class="md:hidden text-gray-700 focus:outline-none mr-4">
                    <i class="pi pi-bars text-xl"></i>
                </button>
                <!-- Logo (Left Side) -->
                <img class="w-auto h-8" src="images/logo.svg" alt="logo">
            </div>

            <!-- Avatar & Menu (Right Side) -->
            <div class="flex items-center pr-4">
                <p-menu #menu [model]="items" [popup]="true"></p-menu>
                <p-avatar (click)="menu.toggle($event)" [label]="userEmailInitial" 
                          styleClass="mr-2" size="normal" shape="circle">
                </p-avatar>
            </div>
        </div>

        <!-- Ensure Content Doesn't Overlap with Fixed Header -->
        <div class="mt-16 p-4">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
